.marquee{
    background-color: white;
    display: flex;
    flex-flow: column;
    margin-top: 60px;
    
}

.ekin{
    color: black;

}

.spacer {
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.layer{
    background-image: url(./layered-waves-haikei.svg);
}